* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 200px;
  width: 100%;
}
li {
  list-style: none;
}
.gallery {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px 10px;
}

