* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  gap: 0.5em;
}
@media (max-width:1400px){
  .gallery {
    width: 90%;
    margin: auto;
  }
}
@media (min-width:1401px){
  .gallery {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 650px){
  img {
    width: 90%;
  }
}
.gallery img {
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.gallery img:hover {
  transform: scale(1.02);
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  box-sizing: border-box;
}
#lightbox-bg {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: none;
  opacity: 0;
}
#lightbox-bg.active {
  display: block;
  place-items: center;
  opacity: 1;
}
#full-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  /* opacity: 0; */
}
