* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  height: 100vh;
}
.gallery img {
  width: 200px;
  height: 200px;
  cursor: pointer;
  object-fit: cover;
  object-position: center center;
  transition: all 0.3s;
}
.gallery img:hover {
  transform: scale(1.02);
}
#lightbox-bg {
  position: fixed;
  top: 0;
 z-index: 100;
 width: 100vw;
 height: 100vh;
 background-color: rgba(0, 0, 0, 0.7);
 backdrop-filter: blur(5px);
 display: none;
 }
 #lightbox-bg.active {
   display: block;
   place-items: center;
 }
 #full-image {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: 2px solid white;
   box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
 }